*.aux
*.bbl
*.idx
*.tps
*.thm
*.blg
*.log
*.toc
*.tcp
*.pdf
.DS_Store
*.exe
*.o
*.so
*.dylib
*.dll
*.sln
*.suo
Makefile
*.make
*.xcworkspace
xcuserdata
.*/
bin/
build/
obj/
log.txt
config.xml.local
*.a2m
*.bin
*.hex
*.png
*.dat
*.raw
